html,
body {
    font-family: Inter, sans-serif;
    height: 100%;
    margin: 0;
}

.dim {
    color: gray;
    font-style: italic;
}

#turnNumber {
    border: solid 3px black;
    background-color: white;
    font-weight: bold;
    font-size: xx-large;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 10px;
}

#text {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#battlePanel {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.05);
}

#decisionPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.1);

    & table {
        padding: 3px 3px 0 3px;

        & td {
            padding: 0
        }
    }
}

#rightPanel {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(40% - 10px);
    height: 100%;
    padding-left: 10px;
    overflow-y: auto;
}

#p1Pokemon,
#p2Pokemon {
    width: 384px;
    height: 384px;
    background-size: cover;
    image-rendering: pixelated;
}

#p1Pokemon {
    position: absolute;
    bottom: 0;
    left: 10%;
}

#p2Pokemon {
    position: absolute;
    top: 0;
    right: 10%
}

#p1Gauge {
    position: absolute;
    bottom: 300px;
    left: calc(10% + 42px);
}

#p2Gauge {
    position: absolute;
    top: 0;
    right: calc(10% + 42px);
}

.outer-bar {
    width: 300px;
    background-color: lightgray;
    height: 15px;
}

.inner-bar {
    width: 300px;
    height: 15px;
    background-color: green;

    &.green {
        background-color: green;
    }

    &.yellow {
        background-color: gold;
    }

    &.red {
        background-color: red;
    }
}

.name {
    font-weight: bold;
    display: inline;
}

.status {
    display: inline;

    & span.buff {
        color: green;
    }

    & span.debuff {
        color: red;
    }

    & span.tox {
        color: #c040c8;
    }

    & span.psn {
        color: #c040c8;
    }

    & span.brn {
        color: #e05848;
    }

    & span.frz {
        color: #009898;
    }

    & span.par {
        color: #e8a800;
    }

    & span.slp {
        color: #687060;
    }
}

.percentage {
    text-align: right;
    width: 300px
}

#setupTable th,
#setupTable td {
    border: solid 2px transparent;

    &.select {
        &:hover {
            border: solid 2px rgba(30, 144, 255, 0.5);
            background-color: rgba(30, 144, 255, 0.2);
            cursor: pointer;
        }

        &.selected {
            border: solid 2px rgba(30, 144, 255, 0.8);
            background-color: rgba(30, 144, 255, 0.5);
        }
    }
}

.select {
    &:hover {
        border: solid 2px rgba(30, 144, 255, 0.5);
        background-color: rgba(30, 144, 255, 0.2);
        cursor: pointer;
    }

    &.selected {
        border: solid 2px rgba(30, 144, 255, 0.8);
        background-color: rgba(30, 144, 255, 0.5);
    }
}

table {
    width: 100%;
}

.list {
    display: none;

    &.show {
        display: block;
    }
}

.listButton {
    width: calc(100% / 3 - 4px);
    display: inline-block;
    border: solid 2px transparent;

    &:hover {
        border: solid 2px rgba(30, 144, 255, 0.5);
        background-color: rgba(30, 144, 255, 0.2);
        cursor: pointer;
    }
}

p {
    display: inline-block;
}

.right-button {
    position: absolute;
    right: 10px;
    margin-top: 1em;
    font-family: Inter, sans-serif;
}

.decisionMove,
.decisionSwitch {
    height: 40px;
    font-family: Inter, sans-serif;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 3px;
    border: solid 3px transparent;

    &:hover {
        border: solid 3px gray;
    }
}

.decisionMove {
    width: calc(25% - 6px);
}

.decisionSwitch {
    width: calc(100% / 6 - 6px);
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.main-text {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: large;

    #text & {
        width: fit-content;
        animation: 0.3s slide-in;
    }
}

.small-text {
    background-color: rgba(255, 255, 255, 0.9);
    color: gray;
    padding: 5px;
    margin-left: 15px;
    font-size: medium;

    #text & {
        width: fit-content;
        animation: 0.3s slide-in;
    }
}

.hide {
    display: none;
}

button.selected {
    background-color: dodgerblue;
    color: white;
}

.tab-content:not(.tab-show) {
    display: none;
}

.tab-selected {
    border-bottom: solid 3px black
}

.turn-number {
    border-bottom: solid 3px black;
    margin-bottom: 3px;
    display: inline-block;
}

.tooltip {
    border-radius: 9px;
    padding: 9px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;

    .tip-desc {
        font-style: italic;
        color: #ccc;
    }

    .tip-name {
        font-weight: bold;
        font-size: large;
    }

    .img-left {
        display: inline-block;
        width: 40px;
        height: 30px;
        image-rendering: pixelated;
        scale: 2.5;
        transform-origin: left top;
        margin-right: 60px;
        margin-bottom: 45px;
    }

    .container {
        display: inline-block;
        width: 270px;
        vertical-align: top;
    }

    .type {
        display: inline-block;
        letter-spacing: 2px;
        font-weight: bold;
        position: absolute;

        img {
            width: 40px
        }

        .type-text {
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 5px;
            height: fit-content;
        }
    }

    .stats {
        display: inline-block;
        width: 150px;
        border-right: solid 2px #333;
        padding-right: 9px;

        .stat {
            .small {
                color: #ccc;
                font-weight: bold;
            }

            .number {
                font-size: xx-large;
                font-weight: bold;

                .sub {
                    font-size: medium;
                    color: #ccc;
                    font-weight: normal;
                }
            }
        }
    }

    .moves {
        display: inline-block;
        width: 325px;
        vertical-align: top;
        margin-left: 9px;

        .move {
            height: 30px;

            .move-name {
                &.unknown {
                    font-style: italic;
                    color: #ccc
                }

                display: inline-block
            }

            .pp {
                display: inline-block;
                float: right;
                font-size: large;
                font-weight: bold;

                .sub {
                    color: #ccc;
                    font-weight: normal;
                    font-size: medium;
                }
            }
        }
    }
}

button {
    .pp {
        display: inline-block;
        float: right;
        font-size: large;
        font-weight: bold;

        .sub {
            color: #333;
            font-weight: normal;
            font-size: medium;
        }
    }
}

.ball {
    background: url(pokemonicons-pokeball-sheet.png) no-repeat scroll 0 0;
    width: 40px;
    image-rendering: pixelated;
    height: 30px;
    display: inline-block;
}

#p1Balls {
    position: absolute;
    top: 30px;
    right: calc(10% + 384px)
}

#p2Balls {
    position: absolute;
    bottom: 30px;
    left: calc(10% + 384px)
}

#bottomOptions {
    padding: 0 3px;

    &>div {
        display: inline-block;
        padding: 0 3px;

        & button {
            height: 25px;
            font-family: Inter, sans-serif;
            font-size: medium;
            background-color: rgba(255, 255, 255, 0.5);
            margin: 3px;
            border: solid 3px transparent;
            min-width: 100px;

            &:hover {
                border: solid 3px gray;
            }
        }
    }
}