html,
body {
    font-family: Inter, sans-serif;
    height: 100%;
    margin: 0;
    background-color: #f3f3f3;
    -webkit-user-select: none;
    user-select: none;
    --special: #7799DD;
    --physical: #EE7700;
    --status: #999;
    --bug: #83c300;
    --dragon: #006fc9;
    --electric: #fbd100;
    --fighting: #e0306a;
    --fire: #fc9540;
    --flying: #89aae3;
    --ghost: #4c6ab2;
    --grass: #38bf4b;
    --ground: #e87236;
    --ice: #4cd1c0;
    --normal: #919aa2;
    --poison: #b165c9;
    --psychic: #ff6675;
    --rock: #c8b686;
    --water: #3692dc;
}

p {
    &.dim {
        color: gray;
        font-style: italic;
        display: inline-block;
        margin: 9px 0;
    }

    &.explanation {
        color: gray;
        margin: 3px 0 0 20px;
    }
}

#turnNumber {
    border: solid 3px black;
    background-color: white;
    font-weight: bold;
    font-size: xx-large;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 10px;
    border-radius: 9px;
    box-shadow: 0 0 9px lightgray;
}

#text {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#battlePanel {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 60%;
}

#decisionPanel {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 9px;
    border: solid 2px lightgray;
    box-shadow: 0 0 9px lightgray;
    bottom: 9px;
    left: 9px;
    width: calc(60% - 9px);
    height: calc(20% - 9px);

    & table {
        padding: 3px 3px 0 3px;
        height: calc(100% - 35px);

        & td {
            padding: 0;

            &>div {
                display: inline-block;
                height: 100%;
                position: relative;

                &.switch-container {
                    width: calc(100% / 6);
                }

                &.move-container {
                    width: calc(100% / 4);
                }
            }
        }
    }
}

#rightPanel {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
}

#p1Pokemon,
#p2Pokemon {
    width: 384px;
    height: 384px;
    background-size: cover;
    image-rendering: pixelated;
}

#p1Pokemon {
    position: absolute;
    bottom: 0;
    left: 10%;
}

#p2Pokemon {
    position: absolute;
    top: 0;
    right: 10%
}

#p1Gauge {
    position: absolute;
    bottom: 300px;
    left: calc(10% + 42px);
}

#p2Gauge {
    position: absolute;
    top: 0;
    right: calc(10% + 42px);
}

.outer-bar {
    width: 300px;
    background-color: lightgray;
    height: 15px;
    clip-path: rect(0 100% 100% 0 round 7.5px);
}

.inner-bar {
    width: 300px;
    height: 15px;
    background-color: green;
    transition: 0.15s;

    &.green {
        background-color: green;
    }

    &.yellow {
        background-color: gold;
    }

    &.red {
        background-color: red;
    }
}

.name {
    font-weight: bold;
    display: inline;
}

.status {
    display: inline;

    & span.buff {
        color: green;
    }

    & span.debuff {
        color: red;
    }

    & span.tox {
        color: #c040c8;
    }

    & span.psn {
        color: #c040c8;
    }

    & span.brn {
        color: #e05848;
    }

    & span.frz {
        color: #009898;
    }

    & span.par {
        color: #e8a800;
    }

    & span.slp {
        color: #687060;
    }
}

.percentage {
    float: right;
}

.gauge-lv {
    float: left;
}

table {
    width: 100%;
}

.list {
    display: none;

    &.show {
        display: block;
    }
}

.listButton {
    width: calc(100% / 3 - 4px);
    display: inline-block;
    border: solid 2px transparent;

    &:hover {
        border: solid 2px rgba(30, 144, 255, 0.5);
        background-color: rgba(30, 144, 255, 0.2);
        cursor: pointer;
    }
}

.right-button {
    margin-top: 3px;
    font-family: Inter, sans-serif;
    border-radius: 9px;
    padding: 6px 18px;
    border: solid 2px lightgray;
    background-color: white;
    font-size: medium;

    &:hover {
        border: solid 2px dodgerblue;
        background-color: rgb(224, 239, 255);
    }

    &.float-right {
        float: right;
    }
}

.decisionMove,
.decisionSwitch {
    height:
        /*40px*/
        calc(100% - 4px);
    font-family: Inter, sans-serif;
    font-size: large;
    background-color: white;
    margin: 2px;
    border: solid 2px lightgray;
    border-radius: 9px;

    &:hover {
        border: solid 2px dodgerblue;
        background-color: rgb(224, 239, 255);
    }
}

.decisionMove {
    width: calc(100% - 4px);
}

.decisionSwitch {
    width: calc(100% - 4px);

    &.selected {
        border: solid 2px dodgerblue;
        color: black;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.main-text {
    #record & {
        background-color: #f3f3f3;
    }

    #text & {
        background-color: rgb(226, 226, 226, 0.7);
    }

    padding: 10px;
    font-size: large;
    border-radius: 9px;
    position: relative;

    &::after {
        width: 4px;
        content: "";
        display: block;
        position: absolute;
        margin: auto 0;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: dodgerblue;
        height: calc(100% - 20px);
        border-radius: 2px;
    }

    #text & {
        width: fit-content;
        animation: 0.3s slide-in;
    }
}

.small-text {
    background-color: rgba(255, 255, 255, 0.9);
    color: gray;
    padding: 5px;
    margin-left: 15px;
    font-size: medium;
    border-radius: 9px;

    #text & {
        width: fit-content;
        animation: 0.3s slide-in;
    }
}

.hide {
    display: none;
}

.tab-content {
    height: calc(100% - 67px);
    background-color: white;
    border-radius: 9px;
    box-shadow: 0 0 9px lightgray;
    margin: 0 9px 9px 9px;
    padding: 9px;
    overflow-y: auto;

    &>* {
        animation: 0.15s fade-in;
    }
}

.tab-content:not(.tab-show) {
    display: none;
}

.tab {
    position: relative;
    font-family: Inter, sans-serif;
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 1px 9px;
    font-size: medium;

    &::after {
        height: 3px;
        content: "";
        display: block;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        transition: width 0.15s;
    }

    &:hover::after {
        background-color: lightgray;
        width: calc(100% - 18px);

    }

    &.tab-selected {
        font-weight: bold;

        &&::after {
            background-color: dodgerblue;
            width: 100%;
        }
    }
}

.turn-number {
    border-bottom: solid 3px black;
    margin-bottom: 3px;
    display: inline-block;
}

.tooltip {
    border-radius: 9px;
    padding: 9px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    bottom: 100%;
    display: none;
    opacity: 0;
    transition: opacity 0.1s;

    &.show {
        display: block;
        opacity: 1;
    }

    .tip-desc {
        font-style: italic;
        color: #ccc;
    }

    .tip-name {
        font-weight: bold;
        font-size: large;
    }

    .img-left {
        display: inline-block;
        width: 40px;
        height: 30px;
        image-rendering: pixelated;
        scale: 2.5;
        transform-origin: left top;
        margin-right: 60px;
        margin-bottom: 45px;
    }

    .container {
        display: inline-block;
        width: 270px;
        vertical-align: top;
    }

    .type {
        display: inline-block;
        letter-spacing: 2px;
        font-weight: bold;
        position: absolute;

        img {
            width: 40px
        }

        .type-text {
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 5px;
            height: fit-content;
        }
    }

    .stats {
        display: inline-block;
        width: 150px;
        border-right: solid 2px #333;
        padding-right: 9px;

        .stat {
            .small {
                color: #ccc;
                font-weight: bold;
            }

            .number {
                font-size: xx-large;
                font-weight: bold;

                .sub {
                    font-size: medium;
                    color: #ccc;
                    font-weight: normal;
                }
            }
        }
    }

    .moves {
        display: inline-block;
        width: 325px;
        vertical-align: top;
        margin-left: 9px;

        .move {
            height: 30px;

            .move-name {
                &.unknown {
                    font-style: italic;
                    color: #ccc
                }

                display: inline-block
            }

            .pp {
                display: inline-block;
                float: right;
                font-size: large;
                font-weight: bold;

                .sub {
                    color: #ccc;
                    font-weight: normal;
                    font-size: medium;
                }
            }
        }
    }
}

.tooltip-move {
    border-radius: 9px;
    padding: 9px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    bottom: 100%;
    display: none;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 9999;

    &.show {
        display: block;
        opacity: 1;
    }

    .tip-desc {
        font-style: italic;
        color: #ccc;
    }

    .tip-name {
        font-weight: bold;
        font-size: large;
    }

    .tip-cat {
        font-weight: bold;

        &.cat-special {
            color: var(--special);
        }

        &.cat-physical {
            color: var(--physical);
        }

        &.cat-status {
            color: var(--status);
        }
    }

    .container {
        display: inline-block;
        padding-right: 9px;
        vertical-align: top;
    }

    .type {
        display: inline-block;
        letter-spacing: 2px;
        font-weight: bold;
        position: absolute;
        height: 30px;

        img {
            width: 30px
        }

        .type-text {
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 5px;
            height: fit-content;
            width: max-content;

            &.type-bug{
                color: var(--bug);
            }
            &.type-dragon{
                color: var(--dragon);
            }
            &.type-electric{
                color: var(--electric);
            }
            &.type-fighting{
                color: var(--fighting);
            }
            &.type-fire{
                color: var(--fire);
            }
            &.type-flying{
                color: var(--flying);
            }
            &.type-ghost{
                color: var(--ghost);
            }
            &.type-grass{
                color: var(--grass);
            }
            &.type-ground{
                color: var(--ground);
            }
            &.type-ice{
                color: var(--ice);
            }
            &.type-normal{
                color: var(--normal);
            }
            &.type-poison{
                color: var(--poison);
            }
            &.type-psychic{
                color: var(--psychic);
            }
            &.type-rock{
                color: var(--rock);
            }
            &.type-water{
                color: var(--water);
            }
        }
    }

    .stats {
        padding-top: 9px;

        .stat {
            display: inline-block;
            padding-right: 9px;

            .small {
                color: #ccc;
                font-weight: bold;
            }

            .number {
                font-size: xx-large;
                font-weight: bold;

                .sub {
                    font-size: medium;
                    color: #ccc;
                    font-weight: normal;
                    display: inline-block;
                }
            }
        }
    }
}

button {
    .move-text {
        vertical-align: -webkit-baseline-middle;
    }

    .move-side {
        display: inline-block;
        float: right;

        .pp {

            font-size: large;
            font-weight: bold;

            .sub {
                color: #333;
                font-weight: normal;
                font-size: medium;
            }
        }

        .move-type {
            font-size: small;
        }
    }
}

.ball {
    background: url(pokemonicons-pokeball-sheet.png) no-repeat scroll 0 0;
    width: 40px;
    image-rendering: pixelated;
    height: 30px;
    display: inline-block;
    scale: 1.5;

    &.faint {
        filter: grayscale(1) opacity(0.3);
    }
}

#p2Balls {
    position: absolute;
    top: 30px;
    right: calc(10% + 384px);
}

#p1Balls {
    position: absolute;
    bottom: 30px;
    left: calc(10% + 384px);
}

#bottomOptions {
    padding: 0 9px 3px 9px;

    &>div {
        display: inline-block;

        & button {
            margin-bottom: 3px;
            font-family: Inter, sans-serif;
            font-size: medium;
            background-color: transparent;
            border: none;
            border-radius: 9px;
            padding: 6px 12px;
            height: 32px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.pkmn {
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 4px 9px;
    margin: 9px 0;
    transition: 0.1s;

    &:hover {
        background-color: rgba(30, 144, 255, 0.2);
    }

    &>div {
        margin: 5px 0
    }

    & .input {
        background-color: white;
        border-radius: 9px;
        padding: 3px 9px;
        border: solid 2px white;
        display: inline-block;

        &:hover {
            border: solid 2px dodgerblue;
        }
    }

    & .lv::before {
        content: "Lv: ";
        color: gray
    }

    & .nick::before {
        content: "Nickname: ";
        color: gray
    }

    & .move-1::before {
        content: "1: ";
        color: gray
    }

    & .move-2::before {
        content: "2: ";
        color: gray
    }

    & .move-3::before {
        content: "3: ";
        color: gray
    }

    & .move-4::before {
        content: "4: ";
        color: gray
    }

    & .pkmnName {
        font-weight: bold;
        font-size: large;
    }
}

input[type="checkbox"] {
    appearance: none;
    border: solid 1px gray;
    border-radius: 6px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0;

    &:checked {
        background-color: dodgerblue;
        border: solid 1px dodgerblue;

        &::before {
            width: 15px;
            height: 15px;
            margin-left: 2.5px;
            background-color: white;
            content: " ";
            display: inline-block;
            clip-path: path("M2 7 L6 11 L13 4 L15 6 L6 15 L0 9Z");
        }
    }
}

.checkbox-key {
    vertical-align: middle;
}

label .wrap {
    transition: 0.1s;
    border-radius: 9px;
    padding: 9px;

    &:hover {
        background-color: #eee;
    }
}